  <header>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
      <a class="navbar-brand thead-light" style="font-weight: bold;" href="#">Contract Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
              aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item dropdown">
            <a class="nav-link waves-effect waves-light">
              <div *ngIf="isLogged"><i class="fas fa-user"></i>&nbsp;<span>{{name}}</span></div>
            </a>

          </li>
          <li class="nav-item">
            <div *ngIf="isLogged">
              <a class="nav-link waves-effect waves-light" (click)="signOut()">
                <i class="fas fa-power-off"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
